//COLORS

$primary: #EE8722;
$secondary: #3C3987;
$success:  #0EC564;
$danger: #FF595A;
$warning: #FFAB1B;
$info: transparent;
$light: #3BBEEE;
$dark: rgb(38, 5, 92);

.text-lila{
  color: #7367E9;
}
.text-pink{
  color: #FF4E78;
}
.bg-lila{
  background-color: #7367E9;
}
.bg-pink{
  background-color: #FF4E78;
}

.bg-light-2{
  background-color: #C2CCD6 !important;
  border: none !important;
}

.text-black{
  color: #000000;
}



