body {
  --bs-body-color: #fff;
}

/* Forms */

.form-control,
.form-select {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  display: block;
  width: 100%;
  padding: 1.2rem 1.6rem;
  color: #596471;
  background-color: #c2ccd6;
  background-clip: padding-box;
  border: #3c3987;
  appearance: none;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-select:focus,
.form-control:focus {
  color: #596471;
  background-color: var(--bs-body-bg);
  border-color: #3c3987;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #3c3987;
}

.form-label {
  margin-bottom: 4px;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: #9ba3ae;
}

/* Buttons */

.btn {
  --bs-btn-padding-x: 1.6rem;
  --bs-btn-padding-y: 1.2rem;
  --bs-btn-font-size: 1.6rem;
  --bs-btn-font-weight: 600;
  --bs-btn-line-height: 2.5rem;
  --bs-btn-border-radius: 100px;
}

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: transparent;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #000;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #000;
}

.btn-info {
  --bs-btn-color: #ee8722;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: none;
}

.btn-outline-light {
  background: rgba(59, 190, 238, 0.07);
  border: 1px dashed #3bbeee;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3bbeee;
  --bs-btn-active-border-color: #3bbeee;
  color: #fff;
  &:hover {
    border: 1px dashed #3bbeee;
    background: rgba(59, 190, 238, 0.07);
    color: #3bbeee;
  }
  .btn-content {
    display: flex;
    gap: 4px;
    align-items: center;
  }
}

.btn-success {
  color: #fff;
  width: fit-content;
}

.btn-sm,
.btn-group-sm > .btn {
  --bs-btn-padding-y: 8px;
  --bs-btn-padding-x: 12px;
  font-size: 14px;
  line-height: 140%;
  border-radius: 8px;
  background: rgba(246, 247, 247, 0.1);
  border: none;
}

.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  color: #fff;
  background-color: #ee8722;
  border-color: none;
}

.search-filter {
  .field-search {
    display: flex;
    align-items: center;
    position: relative;
    input {
      padding-left: 4rem;
    }
    i {
      position: absolute;
      left: 1.6rem;
      font-size: 1.6rem;
      color: #1d1c1d;
    }
  }
}

/* Avatar */

.b-avatar {
  width: 4.8rem;
  height: 4.8rem;
}

/* Dots */
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* Cards */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: #3c3987;
  background-clip: border-box;
  border: none;
  border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  -ms-border-radius: 1.6rem;
  -o-border-radius: 1.6rem;
  overflow: hidden;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.6rem 2.4rem;
  color: var(--bs-card-color);
  background-color: #3c3987;
}

.card-footer {
  padding: 2.4rem;
  color: var(--bs-card-cap-color);
  background-color: #201e61;
  border-top: none;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.6rem 2.4rem;
  font-size: 1rem;
  color: #000;
  text-align: left;
  background-color: var(--bs-accordion-btn-bg);
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
  font-size: 17px;
  font-weight: 500;
  line-height: 2.4rem;
}
.accordion-body {
  padding: 1.6rem 2.4rem;
}

/* Table */

.table {
  background: transparent;
  overflow: hidden;
  --bs-table-bg: rgba(249, 249, 249, 0.1);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  th {
    padding: 16px 12px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    &.left {
      text-align: left;
    }
  }
  td {
    height: 6rem;
    padding: 8px 12px;
    vertical-align: middle;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.7rem;
    background-color: transparent;
    i {
      font-size: 2.4rem;
      cursor: pointer;
      &:hover {
        color: #ee8722;
      }
    }
    &.left {
      text-align: left;
    }
  }
  &__container {
    width: 100%;
  }
  &__tr {
    background-color: transparent !important;
    border: none;
  }
  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    border: none;
  }
  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
}

/* Pagination */

.pagination {
  --bs-pagination-padding-x: 1rem;
  --bs-pagination-padding-y: 1rem;
  --bs-pagination-font-size: 1.4rem;
  --bs-pagination-color: var(--bs-link-color);
  --bs-pagination-bg: transparent;
  --bs-pagination-border-width: var(--bs-border-width);
  --bs-pagination-border-color: var(--bs-border-color);
  --bs-pagination-border-radius: var(--bs-border-radius);
  --bs-pagination-hover-color: var(--bs-link-hover-color);
  --bs-pagination-hover-bg: var(--bs-tertiary-bg);
  --bs-pagination-hover-border-color: var(--bs-border-color);
  --bs-pagination-focus-color: var(--bs-link-hover-color);
  --bs-pagination-focus-bg: var(--bs-secondary-bg);
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(238, 135, 34, 0.25);
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: #ee8722;
  --bs-pagination-active-border-color: #ee8722;
  --bs-pagination-disabled-color: var(--bs-secondary-color);
  --bs-pagination-disabled-bg: var(--bs-secondary-bg);
  --bs-pagination-disabled-border-color: var(--bs-border-color);
  display: flex;
  gap: 8px;
  padding-left: 0;
  list-style: none;
  @media (max-width: 500px) {
    gap: 4px;
  }
}

.b-pagination-pills .page-item .page-link {
  border-radius: 50rem !important;
  line-height: 0;
  width: 4rem;
  height: 4rem;
  border: none;
  color: #fff;
  &:hover {
    color: #000;
  }
  @media (max-width: 500px) {
    width: 2.4rem;
    height: 2.4rem;
  }
}

/* Progress */

.progress,
.progress-stacked {
  --bs-progress-height: 1rem;
  --bs-progress-font-size: 0.75rem;
  --bs-progress-bg: var(--bs-secondary-bg);
  --bs-progress-border-radius: 1.4rem;
  --bs-progress-box-shadow: var(--bs-box-shadow-inset);
  --bs-progress-bar-color: #fff;
  --bs-progress-bar-bg: #ee8722;
  --bs-progress-bar-transition: width 0.6s ease;
  display: flex;
  height: 1.4rem;
  overflow: hidden;
  font-size: var(--bs-progress-font-size);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
}

.bg-success {
  --bs-bg-opacity: 1;
  background-color: rgba(
    var(--bs-success-rgb),
    var(--bs-bg-opacity)
  ) !important;
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
}

/* Modal */

.root {
  position: relative;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(12, 12, 37, 0.7);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__body {
    border-radius: 24px;
    background: #2a2b3d;
    display: flex;
    width: 728px;
    padding: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    &-img {
      width: 30rem;
    }
  }
  &__buy {
    border-radius: 24px;
    background: #2a2b3d;
  }
}
